<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- define Action here -->
	<!-- <bean id="helloWorldAction" class="vn.edu.fpt.capstone.busReservation.action.HelloWorldAction"> 
		<property name="helloWorldLogic" ref="helloWorldLogic" /> </bean> -->
	<!-- <bean id="indexAction" class="vn.edu.fpt.capstone.busReservation.action.IndexAction"> 
		</bean> -->
	<!-- <bean id="successAction" class="vn.edu.fpt.capstone.busReservation.action.SuccessAction"> 
		</bean> <bean id="testPayAction" class="vn.edu.fpt.capstone.busReservation.action.TestPayAction"> 
		</bean> <bean id="testPaySuccessAction" class="vn.edu.fpt.capstone.busReservation.action.TestPayReturnAction"> 
		</bean> -->
	<!-- <bean id="listEmployeeAction" class="vn.edu.fpt.capstone.busReservation.action.EmployeeListAction"> 
		</bean> -->

	<!-- ****************define Logic here**************** -->
	<bean id="helloWorldLogic"
		class="vn.edu.fpt.capstone.busReservation.logic.HelloWorldLogicImpl">
		<property name="helloWorldDAO" ref="helloWorldDAO" />
	</bean>
	<!-- *****************define DAO here***************** -->
	<bean id="helloWorldDAO"
		class="vn.edu.fpt.capstone.busReservation.dao.HelloWorldDAOImpl">
		<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	</bean>
	<bean id="stationDAO" class="vn.edu.fpt.capstone.busReservation.dao.StationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.StationBean" />
	</bean>
	<bean id="reservationDAO" class="vn.edu.fpt.capstone.busReservation.dao.ReservationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.ReservationBean" />
	</bean>
	<bean id="tariffDAO" class="vn.edu.fpt.capstone.busReservation.dao.TariffDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.TariffBean" />
	</bean>

	<bean id="routeDAO" class="vn.edu.fpt.capstone.busReservation.dao.RouteDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.RouteBean" />
	</bean>
	
	<bean id="routeDetailsDAO" class="vn.edu.fpt.capstone.busReservation.dao.RouteDetailsDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.RouteDetailsBean" />
	</bean>
	
    <bean id="paymentDAO" class="vn.edu.fpt.capstone.busReservation.dao.PaymentDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.PaymentBean" />
    </bean>
    
    <bean id="employeeDAO" class="vn.edu.fpt.capstone.busReservation.dao.EmployeeDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.EmployeeBean" />
    </bean>
    
    <bean id="busStatusDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusStatusDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.BusBean" />
    </bean>
    
    <bean id="busDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.BusBean" />
    </bean>
    
    <bean id="customerDAO" class="vn.edu.fpt.capstone.busReservation.dao.CustomerDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.CustomerBean" />
    </bean>
    
    <bean id="seatPositionDAO" class="vn.edu.fpt.capstone.busReservation.dao.SeatPositionDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.SeatPositionBean" />
    </bean>
    
    <bean id="tripDAO" class="vn.edu.fpt.capstone.busReservation.dao.TripDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.TripBean" />
    </bean>
</beans>

