<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC -->
<!-- "-//SPRING//DTD BEAN//EN" -->
<!-- "http://www.springframework.org/dtd/spring-beans.dtd"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- ****************define Logic here**************** -->
	<context:annotation-config />
	<bean id="paymentLogic" class="vn.edu.fpt.capstone.busReservation.logic.PaymentLogic"
		scope="singleton">
	</bean>
	<bean id="reservationLogic"
		class="vn.edu.fpt.capstone.busReservation.logic.ReservationLogic"
		scope="singleton">
	</bean>
	<bean id="userLogic" class="vn.edu.fpt.capstone.busReservation.logic.UserLogic"
		scope="singleton">
	</bean>
	<!-- *****************define DAO here***************** -->
	<bean id="stationDAO" class="vn.edu.fpt.capstone.busReservation.dao.StationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.StationBean" />
	</bean>
	<bean id="reservationDAO" class="vn.edu.fpt.capstone.busReservation.dao.ReservationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.ReservationBean" />
	</bean>
	<bean id="tariffDAO" class="vn.edu.fpt.capstone.busReservation.dao.TariffDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.TariffBean" />
	</bean>

	<bean id="routeDAO" class="vn.edu.fpt.capstone.busReservation.dao.RouteDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.RouteBean" />
	</bean>

	<bean id="routeDetailsDAO" class="vn.edu.fpt.capstone.busReservation.dao.RouteDetailsDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.RouteDetailsBean" />
	</bean>

	<bean id="paymentDAO" class="vn.edu.fpt.capstone.busReservation.dao.PaymentDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.PaymentBean" />
	</bean>

	<bean id="busStatusDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusStatusDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.BusStatusBean" />
	</bean>

	<bean id="busDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.BusBean" />
	</bean>

	<bean id="roleDAO" class="vn.edu.fpt.capstone.busReservation.dao.RoleDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.RoleBean" />
	</bean>

	<bean id="userDAO" class="vn.edu.fpt.capstone.busReservation.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.UserBean" />
	</bean>

	<bean id="seatPositionDAO" class="vn.edu.fpt.capstone.busReservation.dao.SeatPositionDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.SeatPositionBean" />
	</bean>

	<bean id="tripDAO" class="vn.edu.fpt.capstone.busReservation.dao.TripDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.TripBean" />
	</bean>
	
	<bean id="segmentTravelTimeDAO" class="vn.edu.fpt.capstone.busReservation.dao.SegmentTravelTimeDAO">
      <property name="sessionFactory" ref="sessionFactory" />
      <constructor-arg
         value="vn.edu.fpt.capstone.busReservation.dao.bean.SegmentTravelTimeBean" />
   </bean>

	<bean id="paymentMethodDAO" class="vn.edu.fpt.capstone.busReservation.dao.PaymentMethodDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.PaymentMethodBean" />
	</bean>

	<bean id="busTypeDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusTypeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.BusTypeBean" />
	</bean>

	<bean id="ticketDAO" class="vn.edu.fpt.capstone.busReservation.dao.TicketDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.TicketBean" />
	</bean>

	<bean id="reservationInfoDAO"
		class="vn.edu.fpt.capstone.busReservation.dao.ReservationInfoDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.ReservationInfoBean" />
	</bean>

	<bean id="tariffViewDAO" class="vn.edu.fpt.capstone.busReservation.dao.TariffViewDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.TariffViewBean" />
	</bean>

	<bean id="cityDAO" class="vn.edu.fpt.capstone.busReservation.dao.CityDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.CityBean" />
	</bean>

	<bean id="systemSettingDAO" class="vn.edu.fpt.capstone.busReservation.dao.SystemSettingDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.SystemSettingBean" />
	</bean>

	<bean id="mailTemplateDAO" class="vn.edu.fpt.capstone.busReservation.dao.MailTemplateDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.MailTemplateBean" />
	</bean>

	<bean id="routeTerminalDAO" class="vn.edu.fpt.capstone.busReservation.dao.RouteTerminalDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.RouteTerminalBean" />
	</bean>

	<bean id="busFreeTimeDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusFreeTimeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.BusFreeTimeBean" />
	</bean>

	<bean id="segmentDAO" class="vn.edu.fpt.capstone.busReservation.dao.SegmentDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.SegmentBean" />
	</bean>

	<!-- <bean id="tripWithNumberOfRemainedSeatsInSubrouteDAO" class="vn.edu.fpt.capstone.busReservation.dao.TripWithNumberOfRemainedSeatsInSubrouteDAO"> -->
	<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	<!-- <constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.TripWithNumberOfRemainedSeatsInSubrouteBean" 
		/> -->
	<!-- </bean> -->
</beans>

