<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- define Action here -->
	<!-- <bean id="helloWorldAction" class="vn.edu.fpt.capstone.busReservation.action.HelloWorldAction"> 
		<property name="helloWorldLogic" ref="helloWorldLogic" /> </bean> -->
	<!-- <bean id="indexAction" class="vn.edu.fpt.capstone.busReservation.action.IndexAction"> 
		</bean> -->
	<!-- <bean id="successAction" class="vn.edu.fpt.capstone.busReservation.action.SuccessAction"> 
		</bean> <bean id="testPayAction" class="vn.edu.fpt.capstone.busReservation.action.TestPayAction"> 
		</bean> <bean id="testPaySuccessAction" class="vn.edu.fpt.capstone.busReservation.action.TestPayReturnAction"> 
		</bean> -->
	<!-- <bean id="listEmployeeAction" class="vn.edu.fpt.capstone.busReservation.action.EmployeeListAction"> 
		</bean> -->

	<!-- ****************define Logic here**************** -->
	<bean id="helloWorldLogic"
		class="vn.edu.fpt.capstone.busReservation.logic.HelloWorldLogicImpl">
		<property name="helloWorldDAO" ref="helloWorldDAO" />
	</bean>
	<bean id="paymentLogic"
		class="vn.edu.fpt.capstone.busReservation.logic.PaymentLogic" singleton="true" >
		<property name="reservationDAO" ref="reservationDAO" />
		<property name="paymentMethodDAO" ref="paymentMethodDAO" />
		<property name="paymentDAO" ref="paymentDAO" />
	</bean>
	<bean id="reservationLogic"
		class="vn.edu.fpt.capstone.busReservation.logic.ReservationLogic" singleton="true" >
		<property name="userDAO" ref="userDAO" />
		<property name="reservationInfoDAO" ref="reservationInfoDAO" />
		<property name="tariffViewDAO" ref="tariffViewDAO" />
		<property name="tripDAO" ref="tripDAO" />
	</bean>
	<!-- *****************define DAO here***************** -->
	<bean id="helloWorldDAO"
		class="vn.edu.fpt.capstone.busReservation.dao.HelloWorldDAOImpl">
		<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	</bean>
	<bean id="stationDAO" class="vn.edu.fpt.capstone.busReservation.dao.StationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.StationBean" />
	</bean>
	<bean id="reservationDAO" class="vn.edu.fpt.capstone.busReservation.dao.ReservationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.ReservationBean" />
	</bean>
	<bean id="tariffDAO" class="vn.edu.fpt.capstone.busReservation.dao.TariffDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.TariffBean" />
	</bean>

	<bean id="routeDAO" class="vn.edu.fpt.capstone.busReservation.dao.RouteDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.RouteBean" />
	</bean>
	
	<bean id="routeDetailsDAO" class="vn.edu.fpt.capstone.busReservation.dao.RouteDetailsDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.RouteDetailsBean" />
	</bean>
	
    <bean id="paymentDAO" class="vn.edu.fpt.capstone.busReservation.dao.PaymentDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.PaymentBean" />
    </bean>
    
    <bean id="busStatusDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusStatusDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.BusBean" />
    </bean>
    
    <bean id="busDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.BusBean" />
    </bean>
    
    <bean id="userDAO" class="vn.edu.fpt.capstone.busReservation.dao.UserDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.UserBean" />
    </bean>
    
    <bean id="seatPositionDAO" class="vn.edu.fpt.capstone.busReservation.dao.SeatPositionDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.SeatPositionBean" />
    </bean>
    
    <bean id="tripDAO" class="vn.edu.fpt.capstone.busReservation.dao.TripDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.TripBean" />
    </bean>
    
    <bean id="paymentMethodDAO" class="vn.edu.fpt.capstone.busReservation.dao.PaymentMethodDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.PaymentMethodBean" />
    </bean>
    
    <bean id="busTypeDAO" class="vn.edu.fpt.capstone.busReservation.dao.BusTypeDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.BusTypeBean" />
    </bean>
    
    <bean id="reservationInfoDAO" class="vn.edu.fpt.capstone.busReservation.dao.ReservationInfoDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.ReservationInfoBean" />
    </bean>
	<bean id="tariffViewDAO" class="vn.edu.fpt.capstone.busReservation.dao.TariffViewDAO">
		<property name="sessionFactory" ref="sessionFactory" />
		<constructor-arg
			value="vn.edu.fpt.capstone.busReservation.dao.bean.TariffViewBean" />
	</bean>
    
    <bean id="cityDAO" class="vn.edu.fpt.capstone.busReservation.dao.CityDAO">
    	<property name="sessionFactory" ref="sessionFactory" />
    	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.CityBean" />
    </bean>
    
<!--     <bean id="tripWithNumberOfRemainedSeatsInSubrouteDAO" class="vn.edu.fpt.capstone.busReservation.dao.TripWithNumberOfRemainedSeatsInSubrouteDAO"> -->
<!--     	<property name="sessionFactory" ref="sessionFactory" /> -->
<!--     	<constructor-arg value="vn.edu.fpt.capstone.busReservation.dao.bean.TripWithNumberOfRemainedSeatsInSubrouteBean" /> -->
<!--     </bean> -->
</beans>

