.well{
    border: 1px solid #D5D5D5;
    background: #fff;
}
.seat-map-img{
    width: 100%;
}
.nav-step-wrapper{
    width: 550px;
    margin: 0 auto;
    height: 70px;
}
.nav-step{
    height: 34px;
    width: 34px;
    border-radius: 30px;
    border: 3px solid rgb(34, 170, 238);
    background: #fff;
    position: relative;
    float: left;
}
    .nav-step>.nav-step-num{
        height: 34px;
        width: 34px;
        top: 0px;
        position: absolute;
        left: 0px;
        line-height: 34px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: rgb(34, 170, 238);
    }
    .nav-step>.nav-step-header{
        width: 60px;
        position: absolute;
        top: 3px;
        left: 45px;
        font-weight: bold;
        color: #777777;
        font-size: 12px;
        line-height: 12px;
    }
    .nav-step>.nav-step-des{
        width: 100px;
        position: absolute;
        top:15px;
        left: 45px;
        color: rgb(34, 170, 238);
        font-weight: bold;
    }
.nav-done>.nav-step-num,.nav-done>.nav-step-des{
    color: #00c900 !important;
}
.nav-done{
    border: #00c900 3px solid;
}
.nav-undone>.nav-step-num,.nav-undone>.nav-step-des{
    color: #777 !important;
}
.nav-undone{
    border: #777 3px solid;
}
.nav-in-progress>.nav-step-num,.nav-in-progress>.nav-step-des{
    color: #F57A00 !important;
}
.nav-in-progress{
    border: #F57A00 3px solid;
}

.seat-map-wrapper{
    overflow: hidden;
    background: url("../images/bus-seat-map.png") no-repeat;
    background-size: contain;
}
.seat-map-inner{
    width: 75%;
    padding-top: 2.85%;
    padding-bottom: 4%;
    padding-left: 4%;
    overflow: hidden;
}
.seat-map-row{
    width: 100%;
    float:left;
}
.seat{
    width: 9%;
    float: left;
    position: relative;
}
.seat img{
	float:left;
    cursor: pointer;
}
.seat-name{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 45%;
	padding-top: 10%;
	cursor: pointer;
}
@media (max-width: 979px) and (min-width: 768px){
	.seat-name{
		font-size: 80%;
		padding-top: 0%;
		padding-left: 40%;
	}
}
@media (max-width: 767px){
	.seat-name{
		display:none
	}
}
.seatChecked{
	height: 35px;
	overflow: hidden;
}
.seatCheckedName{
	padding-top: 3px;
	padding-left: 20px;
	width: 50px;
	float: left;
}
