.seat-map-img{
    width: 100%;
}
.small-nav{
	padding-bottom: 30px;  
}
.nav-step-wrapper{
    width: 786px;
    margin: 0 auto;
    height: 43px;   
    background: url("../img/spriteProgress.png");
}
.small-nav .step1{
	background-position: -1px 0px;
}
.small-nav .step2{
	background-position: -1px -48px;  
}
.small-nav .step3{
	background-position: -1px -96px;  
}
.small-nav .step4{
	background-position: -1px -144px;  
} 
.nav-step{
	float:left;
	width: 196px; 
}
.nav-step-des{
	padding-left: 30px;
	color: #fff;
	line-height: 46px;
	font-size: 17px;
	font-weight: bold;
}
.seat-map-wrapper{
    overflow: hidden;
    background: url("../images/bus-seat-map.png") no-repeat;
    background-size: contain;
    
}
.seat-map-inner{
    width: 720px;
    height : 172px;
    padding-top: 27px;
	padding-bottom: 40px;
	padding-left: 40px;
    overflow: hidden;
}
.seat-map-row{
    width: 100%;
    float:left;
}
.seat{
    width: 8.6%;
    float: left;
    position: relative;
}
.seat img{
	float:left;
    cursor: pointer;
}
.seat-name{
	position: absolute;
	padding-left: 30px;
	padding-top: 8px;
	cursor: pointer;
}
@media (max-width: 979px) and (min-width: 768px){
	.seat-name{
		font-size: 80%;
		padding-top: 0%;
		padding-left: 40%;
	}
}
@media (max-width: 767px){
	.seat-name{
		display:none
	}
}
.seatChecked{
	height: 35px;
	overflow: hidden;
}
.seatCheckedName{
	padding-top: 3px;
	padding-left: 20px;
	width: 50px;
	float: left;
}
