.hidden {
	display: none;
}

.btn {
	vertical-align: text-bottom;
}

.top-nav {
	height: auto;
	color: #ffffff;
}

.clear-fix {
	overflow: hidden;
}

.login .item,.logout .item {
	margin: 5px;
	display: inline-block;
	vertical-align: middle;
}

.login .item input,.logout .item input {
	width: 100px;
	height: 17px;
	margin: 0px;
}

.login .item a,.logout .item a {
	padding: 3px 8px;
	vertical-align: bottom;
	margin: 0px 3px;
}

.error {
	color: red;
	background-color: rgb(253, 194, 194);
	font-weight: bold;
}

.error:empty {
	display: none;
}

.error.well {
	border-color: red !important;
}

.top-nav .error {
	background-color: inherit;
}