.reservation_info .container {
	background-color: rgb(0, 136, 204);
	color: #fff;
	padding: 20px;
	border: medium;
	border-color: #ffffff;
	border-style: solid;
	border-color: #ffffff;
}

.labeled_list label {
	width: 20%;
	float: left;
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
	min-width: 180px;
	cursor: default;
}

.labeled_list span {
	width: 80%;
	float: left;
	margin-bottom: 6px;
	font-size: 14px;
}

input.paypal_checkout {
	background:
		url(https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif)
		no-repeat;
	width: 145px;
	height: 42px;
	border: none;
	cursor: pointer;
}

input.pay {
	width: 145px;
	height: 42px;
	cursor: pointer;
}

.my-container {
	width: 960px;
	margin: 0 auto;
}