@CHARSET "ISO-8859-1"; 
/*TABLE*/
table.tbl-trip-list
{
border-collapse:collapse;
padding:0;
box-shadow:2px 2px 5px #CCCCCC;
border-radius:5px;
width: 98%;
height: 96%;
}

.tbl-trip-list th
{
color:#FFFFFF;
background:#6E6E6E;
font-weight:100;
padding:5px 8px;
text-align:center;
vertical-align:middle;
cursor:default;
height:25px;
}

.choose td.row {
	background:#DEEEFF !important;
	 -moz-box-shadow: 0 4px 2px -3px #9ecaed inset;
    -webkit-box-shadow: 0 4px 2px -3px #9ecaed inset;
    box-shadow: 0 4px 2px -3px #9ecaed inset;
}
.choose td.row:first-child {
    -moz-box-shadow: 4px 4px 2px -3px #9ecaed inset;
    -webkit-box-shadow: 4px 4px 2px -3px #9ecaed inset;
    box-shadow: 4px 4px 2px -3px #9ecaed inset;
}
.choose td.row:last-child {
    -moz-box-shadow: 0 4px 2px -3px #9ecaed inset;
    -webkit-box-shadow: 0 4px 2px -3px #9ecaed inset;
    box-shadow: 0 4px 2px -3px #9ecaed inset;
}

.tbl-trip-list tr
{
color:#000000;
font-weight:100;
cursor:pointer;
}

.tbl-trip-list tr:nth-child(odd) td.row
{
background:#e5e5e5;
}

.tbl-trip-list td
{
padding:5px 8px;
text-align:center;
vertical-align:middle;
height:40px;
border-bottom: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;
border-left: 1px solid #e5e5e5;
}

.tbl-trip-list td.row
{
	border-right: 0px;
	border-left: 0px;
}

.tbl-trip-list th:first-child
{
border-top-left-radius:0px;
}

.tbl-trip-list th:last-child
{
border-top-right-radius:0px;
}

.tbl-trip-list tr:last-child td:first-child
{
border-bottom-left-radius:5px;
}

.tbl-trip-list tr:last-child td:last-child
{
border-bottom-right-radius:5px;
}

/*----------------Style-----------------*/
.onward-info{
	width: 48%;
	float: left;
}

.return-info{
	width: 48%;
	float: right;
}

.list-header{
	width: 33.33333%;
}

.previous-day{
	background: #fff;
}

.next-day{
	background: #fff;
}

.focus-background{
	background: #ccc;
}
span.list-header{
	width: 12.85%;
	margin-left: 0.2%;
}
span.list-header-rtn{
	width: 12.85%;
	margin-left: 0.1%;	
}
.header-current {
	display: inline-block;
	cursor: default;
	background: #6E6E6E;
	color:#FFFFFF;
	font: 20px;
	background:#6E6E6E;
	font-weight:100;
	text-align:center;
	vertical-align:middle;
	padding:5px 0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.header-default {
	display: inline-block;
	font-weight:100;
	text-align:center;
	vertical-align:middle;
	cursor: pointer;
	cursor: hand;
	font: 16px;
	padding:5px 0px;
}
.trip-result {
	width: 100%;
	overflow: hidden;
}
span.blue-bus-ico {
	font-weight: bold;
	width: 50%;
	margin-top: -57px;
	margin-left: -46px;
	height: 115px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/bus_64.png) 64px 64px no-repeat;
}
span.blue-bus-ico-ret {
	font-weight: bold;
	width: 50%;
	margin-top: -57px;
	margin-left: -46px;
	height: 115px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/bus_ret_64.png) 64px 64px no-repeat;
}
.trip-result .city-info {
	margin-top: -73px;
	margin-left: -46px;
	height: 115px;
	float: right;
}

.arrow-left {
	font-weight: bold;
	width: 30%;
	margin-top: -85px;
	margin-left: -62px;
	height: 116px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/arrow_left_001.png) 64px 64px no-repeat;
}
.arrow-right {
	font-weight: bold;
	width: 30%;
	margin-top: -85px;
	margin-left: -68px;
	height: 116px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/arrow_right_001.png) 64px 64px no-repeat;
}
.view-details-icon {
	height: 50px;
	width: 50px;
	margin-left: -18px;
	margin-right: -20px;
	margin-top: -25px;
	float:left;
	background: url(../img/details_24x24.png) 24px 24px no-repeat;
}
.dept-city h5{
	margin-top : 0 px;
	margin-left : 0 px;
}

.arr-city h5{
	margin-left: 0px;
	margin-top: 20px;
}

.map-active {
	width: 32px;
	height: 32px;
	background: url("../img/Maps-32.png") -32px 0px;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: -5px;
	cursor:pointer;
}

.map-inactive {
	width:32px;
	height:32px;
	background: url("../img/Maps-32.png") 0px 0px;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: -5px;
	cursor:pointer;
}
.map-slider {
	width: 465px;
	display: inline-block;
}