body{
	background: url("../img/body-back.png");
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #FFF;
}
.circle-back{
	background-image: url("../img/bg_toVietNam.png"); 
	background-repeat: no-repeat;
	background-position: center top;
}
.header{  
}
.brand-wrapper{
	height: 50px;
	float: left;
	padding: 30px 0 20px 40px; 
}
.brand-wrapper a{
	color: #e1004f; 
	padding: 27px 0;
	margin-left: 0;
	font-weight: bold;
	font-size: 40px; 
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-decoration: none; 
}
.navbar{
	clear: both;
	margin-bottom: 30px;     
	-webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.065);
	-moz-box-shadow: 0 0px 20px rgba(0, 0, 0, 0.065);
	box-shadow: 0 0px 20px rgba(0, 0, 0, 0.065);
}
.navbar-inner{
	border:none; 
	background-image: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: #008EDB;
}
.navbar .nav > li > a{
	color: #fff;   
	text-shadow: none;  
}
.navbar .nav > li > a:hover{
	background-color: #fff;  
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	 
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd; 
	margin: 0px -1px 0 -1px; 
}
.navbar .nav > .active > a{
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: #fff; 
}
.navbar .nav > .active > a:hover{
	background-color: #fff;  
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar .nav > li{
	line-height: 42px; 
}
.navbar .nav li.dropdown.open > .dropdown-toggle{
	background-color: #fff; 
}
.navbar .brand{
	color: #fff;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
	margin-top: 18px; 
}
.bus-logo-left{
	padding-right: 60px;
	padding-top: 1px; 
}
/* Custom Css*/
fieldset {
	margin: 15px 25px 25px 25px;
}

.search .well {
	background: #0088cc;
	color: #fff;
}

.search select {
	width: 100%;
}

.search input[type="text"] {
	width: 100%;
	width: -webkit-calc(100% -   14px);
}

.carousel-control i {
	margin-top: 8px;
}

.search legend {
	color: #fff;
	font-weight: bold;
	border-bottom: none;
	margin-bottom: 10px;
}

.radio-ticket-type label {
	width: 50%;
	float: left;
	padding-left: 0px !important;
}

.search label {
	font-weight: bold;
	font-size: 14px;
}

#radio-ticket,#select-pas,#input-depart,#input-return,#select-bus-type {
	display: none;
}

.custom-select {
	width: 100%;
	overflow: hidden;
}

.custom-select label {
	width: 50%;
	float: left;
	margin-top: 3px;
}

.custom-select select {
	width: 50%;
	float: left;
}

#guide-booking {
	display: none;
}

.radio input[type="radio"] {
	margin-left: 0px;
	margin-right: 10px;
}

.well {
	border: 1px solid #D5D5D5 !important;
	overflow: hidden;
}
.my-container{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
label.error{
	color: red;
}
label.success{
	color: green;
}
