html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

.map-container {
	height: 700px;
	width: 100%;
	margin-bottom: 20px
}

.map-container img {
	max-width: none;
}

.marker-label {
   color: red;
   background-color #00000000;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   padding: 0px 6px;
   border: none;
   white-space: nowrap;
   cursor: default;
   width: 100px;
 }