@CHARSET "ISO-8859-1";
/*----------------Style-----------------*/
.onward-info{
	width: 48%;
	float: left;
}

.return-info{
	width: 48%;
	float: right;
}

.list-header{
	width: 33.33333%;
}

.previous-day{
	background: #fff;
}

.next-day{
	background: #fff;
}

.focus-background{
	background: #ccc;
}
.list-header .current {
	cursor: default;
}
.list-header {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	cursor: hand;
}