@CHARSET "ISO-8859-1";
/*TABLE*/
table.tbl-trip-list
{
border-collapse:collapse;
padding:0;
box-shadow:2px 2px 5px #CCCCCC;
border-radius:5px;
width: 98%;
height: 96%;
}

th.head
{
color:#FFFFFF;
background:#6E6E6E;
font-weight:100;
padding:5px 8px;
text-align:center;
vertical-align:middle;
}

tr.row
{
color:#000000;
font-weight:100;
}

tr.row:hover td
{
background:#DEEEFF;
}

tr.row:nth-child(odd) td
{
background:#CCCCCC;
}

tr.row:nth-child(odd):hover td
{
background:#DEEEFF;
}

td.cell
{
padding:5px 8px;
text-align:center;
vertical-align:middle;
}

th.head:first-child
{
border-top-left-radius:0px;
}

th.head:last-child
{
border-top-right-radius:0px;
}

tr.row:last-child td.cell:first-child
{
border-bottom-left-radius:5px;
}

tr.row:last-child td.cell:last-child
{
border-bottom-right-radius:5px;
}

/*----------------Style-----------------*/
.onward-info{
	width: 48%;
	float: left;
}

.return-info{
	width: 48%;
	float: right;
}

.list-header{
	width: 33.33333%;
}

.previous-day{
	background: #fff;
}

.next-day{
	background: #fff;
}

.focus-background{
	background: #ccc;
}
.header-current {
	display: inline-block;
	cursor: default;
	background: #6E6E6E;
	width: 14.2857%;
	color:#FFFFFF;
	font: 20px;
	background:#6E6E6E;
	font-weight:100;
	text-align:center;
	vertical-align:middle;
	padding:5px 0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.header-default {
	display: inline-block;
	font-weight:100;
	text-align:center;
	vertical-align:middle;
	cursor: pointer;
	cursor: hand;
	width: 14.2857%;
	font: 16px;
	padding:5px 0px;
}
.trip-details {
	width: 100%;
	overflow: hidden;
}
.trip-details .blue-bus-ico {
	font-weight: bold;
	width: 50%;
	margin-top: -57px;
	margin-left: -46px;
	height: 115px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/bus_64.png) 64px 64px no-repeat;
}
.trip-details .blue-bus-ico-ret {
	font-weight: bold;
	width: 50%;
	margin-top: -57px;
	margin-left: -46px;
	height: 115px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/bus_ret_64.png) 64px 64px no-repeat;
}
.trip-details .city-info {
	margin-top: -73px;
	margin-left: -46px;
	height: 115px;
	float: right;
}

.arrow-left {
	font-weight: bold;
	width: 30%;
	margin-top: -85px;
	margin-left: -62px;
	height: 116px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/arrow_left_001.png) 64px 64px no-repeat;
}
.arrow-right {
	font-weight: bold;
	width: 30%;
	margin-top: -85px;
	margin-left: -68px;
	height: 116px;
	float: left;
	display: inline-block;
	background-position: left 0px;
	background: url(../img/arrow_right_001.png) 64px 64px no-repeat;
}
.dept-city h5{
	margin-top : 0 px;
	margin-left : 0 px;
}

.arr-city h5{
	margin-left: 0px;
	margin-top: 20px;
}